img {
  width:350px;
  height: 350px;
  float: right;
  margin-left: 6pc;
  margin-top: 20px;
  margin-bottom: 3px;
}
.body {
  margin: 5pc;
  font-size: 24px;
  font-style:normal;
  font-family: Calibri;
  background-color: wheat;
}

.content {
  font-size: 14px;
  text-align:left;
  margin: 2pc;
  background-color:lightgray;
  }